/* ===================== */
/* FormKit */
/* ===================== */

.formkit-wrapper {
  max-width: 100%;
}

/* Text inputs and labels */
.formkit-label,
.formkit-input {
  font-size: 1.6rem;
  font-weight: 400;
  color: inherit;
  line-height: 1.6rem;
  width: 100%;
}

.formkit-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 600;
}

.formkit-inner {
  position: static;
  width: 100%;
  display: flex;
  align-items: center;
  outline: 1px solid #a3a3a3;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.formkit-inner:focus-within {
  outline: 1px solid var(--color-std-high);
}

.formkit-input:focus-visible {
  outline: none;
}

.formkit-input::placeholder {
  opacity: 0.6;
}

/* Select */

.formkit-inner:has(select) {
  padding: 0;
  outline: none;
  box-shadow: none;
}

.formkit-inner:focus-within:has(select) {
  outline: none;
}

.formkit-inner > select {
  height: 31px;
  outline: none;
  box-shadow: none;
  border: none;
}

/* Checkbox */

label.formkit-wrapper:has(input[type='checkbox']) {
  display: flex;
  flex-direction: column-reverse;
}

label.formkit-wrapper .formkit-inner:has(input[type='checkbox']) {
  outline: none;
}

.formkit-outer[data-type='checkbox'] .formkit-label {
  margin-bottom: 12px;
}

label.formkit-wrapper .formkit-inner input[type='checkbox'] {
  appearance: none;
  display: grid;
  place-content: center;
}

label.formkit-wrapper .formkit-inner input[type='checkbox']::before {
  content: '';
  border: 1px solid var(--color-std-high);
  width: 0.65em;
  height: 0.65em;
  transform: scale(1.6);
  transition: 120ms transform ease-in-out;
}

label.formkit-wrapper .formkit-inner input[type='checkbox']:checked::before {
  transform: scale(1.6);
  border: none;
  box-shadow: inset 1em 1em var(--color-std-high);
}

/* Password Icon */

.custom-icon-class {
  width: 2.5rem;
  height: 2rem;
}

.custom-icon-class:hover {
  color: var(--color-std-high);
}

.formkit-outer[data-type='password'] .custom-icon-class {
  margin-top: -4px;
}

/* Color input */

input.formkit-input[type='color'] {
  height: 31px;
  width: 5rem;
  padding: 0;
  cursor: pointer;
}

input.formkit-input[type='color']::-webkit-color-swatch-wrapper {
  height: 100%;
  padding: 0;
}

input.formkit-input[type='color']::-webkit-color-swatch {
  height: 100%;
  padding: 0;
  border: none;
}

/* Files input */

.formkit-no-files {
  display: none;
}

.formkit-file-list {
  display: none;
}

.formkit-outer[data-type='file'] .formkit-inner {
  border-color: var(--color-std-high);
  height: 31px;
}

/* Buttons */
.submit-button,
.cancel-button {
  --fk-margin-outer: 0;
  --fk-margin-button: 0;
  display: inline-block;
}

.submit-button button.formkit-input,
.cancel-button button.formkit-input {
  /* align-items: center; */
  display: inline-block;
  /* text-align: center; */
  font-size: 1.8rem;
  line-height: 1.5;
  min-width: 100px;
  height: 40px;
  padding: 0 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0px 17px 5px -15px rgba(0, 0, 0, 0.26);
}

.button-full-width button.formkit-input {
  width: 100%;
}

/* Submit button */
.submit-button button.formkit-input {
  fill: #ffffff;
  color: #ffffff;
  border-color: var(--color-std-high);
  background-color: var(--color-std-high);
}

/* Submit button hover*/
.submit-button button.formkit-input:hover {
  color: var(--color-std-high);
  background-color: var(--color-std-background);
  border-color: var(--color-std-high);
}

/* Cancel button */
.cancel-button button.formkit-input {
  fill: #4c4c4c;
  color: #4c4c4c;
  border-color: #999999;
  background-color: #e6e6e6;
}

/* Cancel button hover */
.cancel-button button.formkit-input:hover {
  color: var(--color-std-high);
  background-color: var(--color-std-background);
  border-color: var(--color-std-high);
}

/* Messages */

.formkit-message {
  color: red;
}

.formkit-outer[data-invalid='true'] .formkit-inner {
  outline: 1px solid red;
}
